
Housewarming2022/appSettings.json
Housewarming2022/bin/Debug/net6.0/appSettings.json
Housewarming2022/bin/Debug/net6.0/EmbedIO.dll
Housewarming2022/bin/Debug/net6.0/Housewarming2022.deps.json
Housewarming2022/bin/Debug/net6.0/Housewarming2022.dll
Housewarming2022/bin/Debug/net6.0/Housewarming2022.exe
Housewarming2022/bin/Debug/net6.0/Housewarming2022.pdb
Housewarming2022/bin/Debug/net6.0/Housewarming2022.runtimeconfig.json
Housewarming2022/bin/Debug/net6.0/LifxCloud.NET.dll
Housewarming2022/bin/Debug/net6.0/LifxCloud.NET.pdb
Housewarming2022/bin/Debug/netcoreapp3.1/LifxCloud.NET.dll
Housewarming2022/bin/Debug/netcoreapp3.1/HousewarmingLightingSequence.runtimeconfig.json
Housewarming2022/bin/Debug/netcoreapp3.1/HousewarmingLightingSequence.runtimeconfig.dev.json
Housewarming2022/bin/Debug/netcoreapp3.1/HousewarmingLightingSequence.pdb
Housewarming2022/bin/Debug/netcoreapp3.1/HousewarmingLightingSequence.exe
Housewarming2022/bin/Debug/netcoreapp3.1/HousewarmingLightingSequence.dll
Housewarming2022/bin/Debug/netcoreapp3.1/HousewarmingLightingSequence.deps.json
Housewarming2022/bin/Debug/netcoreapp3.1/Housewarming2022.runtimeconfig.json
Housewarming2022/bin/Debug/netcoreapp3.1/Housewarming2022.runtimeconfig.dev.json
Housewarming2022/bin/Debug/netcoreapp3.1/Housewarming2022.pdb
Housewarming2022/bin/Debug/netcoreapp3.1/Housewarming2022.exe
Housewarming2022/bin/Debug/netcoreapp3.1/Housewarming2022.dll
Housewarming2022/bin/Debug/netcoreapp3.1/Housewarming2022.deps.json
Housewarming2022/bin/Debug/netcoreapp3.1/EmbedIO.dll
Housewarming2022/bin/Debug/net6.0/Swan.Lite.dll
Housewarming2022/bin/Debug/net6.0/SpotifyAPI.Web.dll
Housewarming2022/bin/Debug/net6.0/SpotifyAPI.Web.Auth.dll
Housewarming2022/bin/Debug/net6.0/Newtonsoft.Json.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.Primitives.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.FileSystemGlobbing.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Physical.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.FileProviders.Abstractions.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Json.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.Configuration.FileExtensions.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.Configuration.dll
Housewarming2022/bin/Debug/net6.0/Microsoft.Extensions.Configuration.Abstractions.dll
Housewarming2022/bin/Debug/netcoreapp3.1/LifxCloud.NET.pdb
Housewarming2022/bin/Debug/netcoreapp3.1/Newtonsoft.Json.dll
Housewarming2022/bin/Debug/netcoreapp3.1/SpotifyAPI.Web.Auth.dll
Housewarming2022/bin/Debug/netcoreapp3.1/SpotifyAPI.Web.dll
Housewarming2022/bin/Debug/netcoreapp3.1/Swan.Lite.dll
Housewarming2022/Housewarming2022.csproj
Housewarming2022/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Housewarming2022/obj/Debug/net6.0/apphost.exe
Housewarming2022/obj/Debug/net6.0/Housewarming2022.AssemblyInfo.cs
Housewarming2022/obj/Debug/net6.0/Housewarming2022.AssemblyInfoInputs.cache
Housewarming2022/obj/Debug/net6.0/Housewarming2022.assets.cache
Housewarming2022/obj/Debug/net6.0/Housewarming2022.csproj.AssemblyReference.cache
Housewarming2022/obj/Debug/net6.0/Housewarming2022.csproj.BuildWithSkipAnalyzers
Housewarming2022/obj/Debug/net6.0/Housewarming2022.csproj.CopyComplete
Housewarming2022/obj/Debug/net6.0/Housewarming2022.csproj.CoreCompileInputs.cache
Housewarming2022/obj/Debug/net6.0/Housewarming2022.csproj.FileListAbsolute.txt
Housewarming2022/obj/Debug/net6.0/Housewarming2022.dll
Housewarming2022/obj/Debug/net6.0/Housewarming2022.GeneratedMSBuildEditorConfig.editorconfig
Housewarming2022/obj/Debug/net6.0/Housewarming2022.genruntimeconfig.cache
Housewarming2022/obj/Debug/net6.0/Housewarming2022.pdb
Housewarming2022/obj/Debug/net6.0/ref/Housewarming2022.dll
Housewarming2022/obj/Debug/net6.0/refint/Housewarming2022.dll
Housewarming2022/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Housewarming2022/obj/Debug/netcoreapp3.1/apphost.exe
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.AssemblyInfo.cs
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.AssemblyInfoInputs.cache
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.assets.cache
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.csproj.AssemblyReference.cache
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.csproj.BuildWithSkipAnalyzers
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.csproj.CopyComplete
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.csproj.CoreCompileInputs.cache
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.csproj.FileListAbsolute.txt
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.dll
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.GeneratedMSBuildEditorConfig.editorconfig
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.genruntimeconfig.cache
Housewarming2022/obj/Debug/netcoreapp3.1/Housewarming2022.pdb
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.AssemblyInfo.cs
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.AssemblyInfoInputs.cache
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.assets.cache
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.csproj.CopyComplete
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.csproj.CoreCompileInputs.cache
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.csproj.FileListAbsolute.txt
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.csprojAssemblyReference.cache
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.dll
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.genruntimeconfig.cache
Housewarming2022/obj/Debug/netcoreapp3.1/HousewarmingLightingSequence.pdb
Housewarming2022/obj/Housewarming2022.csproj.nuget.dgspec.json
Housewarming2022/obj/Housewarming2022.csproj.nuget.g.props
Housewarming2022/obj/Housewarming2022.csproj.nuget.g.targets
Housewarming2022/obj/HousewarmingLightingSequence.csproj.nuget.dgspec.json
Housewarming2022/obj/HousewarmingLightingSequence.csproj.nuget.g.props
Housewarming2022/obj/HousewarmingLightingSequence.csproj.nuget.g.targets
Housewarming2022/obj/project.assets.json
Housewarming2022/obj/project.nuget.cache
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.pdb
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.GeneratedMSBuildEditorConfig.editorconfig
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.dll
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.csproj.FileListAbsolute.txt
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.csproj.CoreCompileInputs.cache
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.csproj.AssemblyReference.cache
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.assets.cache
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.AssemblyInfoInputs.cache
LifxCloud.NET/obj/Release/netstandard2.0/LifxCloud.NET.AssemblyInfo.cs
LifxCloud.NET/obj/Release/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
LifxCloud.NET/obj/project.nuget.cache
LifxCloud.NET/obj/project.assets.json
LifxCloud.NET/obj/LifxCloud.NET.csproj.nuget.g.targets
LifxCloud.NET/obj/LifxCloud.NET.csproj.nuget.g.props
LifxCloud.NET/obj/LifxCloud.NET.csproj.nuget.dgspec.json
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.pdb
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.GeneratedMSBuildEditorConfig.editorconfig
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.dll
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.csproj.FileListAbsolute.txt
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.csproj.CoreCompileInputs.cache
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.csproj.BuildWithSkipAnalyzers
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.csproj.AssemblyReference.cache
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.assets.cache
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.AssemblyInfoInputs.cache
LifxCloud.NET/obj/Debug/netstandard2.0/LifxCloud.NET.AssemblyInfo.cs
LifxCloud.NET/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
